<%- model_class = BookContent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:book_name) %></th>
      <th><%= model_class.human_attribute_name(:book_content) %></th>
      <th><%= model_class.human_attribute_name(:book_chapter) %></th>
      <th><%= model_class.human_attribute_name(:book_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @book_contents.each do |book_content| %>
      <tr>
        <td><%= link_to book_content.id, book_content_path(book_content) %></td>
        <td><%= book_content.book_name %></td>
        <td><%= book_content.book_content %></td>
        <td><%= book_content.book_chapter %></td>
        <td><%= book_content.book_id %></td>
        <td><%=l book_content.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      book_content_path(book_content), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_book_content_path(book_content), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      book_content_path(book_content),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_book_content_path,
            :class => 'btn btn-primary' %>
