<%= form_for @book, :html => { :class => "form-horizontal book" } do |f| %>

  <% if @book.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label '书籍名称', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label '书籍价格', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label '书籍简介', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label '书籍分类', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :types, :class => 'form-control' %>
    </div>
    <%=f.error_span(:types) %>
  </div>
  <div class="form-group">
    <%= f.label '电子书地址', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :url %>
    </div>
    <%=f.error_span(:url) %>
  </div>
  <div class="form-group">
    <%= f.label '书籍图片', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.file_field :picture %>
      <%= f.hidden_field :picture_cache %>
    </div>
    <%=f.error_span(:picture) %>
  </div>
  <div class="form-group">
    <%= f.label '书籍作者', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%=f.error_span(:author) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to '返回',
                books_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
