<%- model_class = Book -%>
<div class="page-header">
  <h1>书籍详情</h1>
</div> 
<dl class="dl-horizontal">
  <dt><strong>书籍名称:</strong></dt>
  <dd><%= @book.name %></dd>
  <dt><strong>书籍价格:</strong></dt>
  <dd><%= @book.price %></dd>
  <dt><strong>书籍简介:</strong></dt>
  <dd><%= @book.description %></dd>
  <dt><strong>书籍分类:</strong></dt>
  <dd><%= @book.types %></dd>
  <dt><strong>电子书地址:</strong></dt>
  <dd><a href ="<%= @book.url %>">查看文件</a></dd>
  <dt><strong>书籍图片:</strong></dt>
  <dd>
  <% if @book.picture? %>
        <%= image_tag(@book.picture, :height => '130', :width => 'auto')  %></dd>
         <% else %>
         <%= image_tag('/default.jpg', :height => '130', :width => 'auto')  %>
        <% end %>


  <dt><strong>书籍作者:</strong></dt>
  <dd><%= @book.author %></dd>
</dl>

<%= link_to '返回',books_path, :class => 'btn btn-default'  %>
<%= link_to '删除', book_path(@book),:method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '确定删除？')) },:class => 'btn btn-danger' %>
<%= link_to '查看评论', {:controller =>'comments',:action => 'index',:book_id =>@book.id } , :class => 'btn btn-default'%>
<%= link_to '追加评论',{:controller =>'comments',:action => 'new',:book_id =>@book.id } , :class => 'btn btn-default' %>
<%= link_to '阅读本书',{:controller =>'book_contents',:action => 'show',:id =>1, :read_book=>@book.name,:reader=>current_user.email}, :class => 'btn btn-default' %>
<%= link_to '借书记录',{:controller =>'loan_logs',:action => 'index', :read_book=>@book.name,:reader=>current_user.email}, :class => 'btn btn-default' %>